<h2>Products</h2>
<!-- * is a structural directives that actually shaping or reshaping DOM element typically by adding,removing or manipulating elements to which they are attached.-->
<div *ngFor="let product of products">
  <h3>
    <!--Interpolation renders the propert's value as text and its syntax is {{}}-->
    <!--[] property binding syntax : binidng its model property value for for element attribute-->
    <!-- Interpolation {{ }} lets you render the property value as text; property binding [ ] lets you use the property value in a template expression.-->
    <a [title]="product.name +' ' +product.description">{{product.name}}</a>
  </h3>
  <p *ngIf="product.description">
    Description: {{product.description}}
  </p>
  <!--Event binding uses a set of parentheses, ( ), around the event-->
  <button (click)="share()">
    Share
  </button>
  <!--
    *ngFor
    *ngIf
    Interpolation {{ }}
    Property binding [ ]
    Event binding ( )
  -->
  <app-product-alerts
  [product]="product">
</app-product-alerts>
</div>
<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->